<%-include("header");-%>
<div>
    <form action="/addDefinitions" method="POST">
        <div class="mb-3">
            <label class="form-label">Topic Name:</label>
            <input type="text" class="form-control" name="topicName" placeholder="Name of the topic" required>
        </div>

        <%if(isPresent === "true"){%>
            <h5 class="alert alert-danger">Topic is not present, Please input a valid topic name, else create a new topic.</h5>
        <%}%>
       
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Topic Def:</label>
          <div>
            <label for="defOn"><h5>Definition On:</h5></label>
            <input type="text" name="defOn" placeholder="Definition On" required>
            <textarea class="form-control" id="def" name="def" placeholder="Definition" required></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
<%-include("footer")-%>