<%-include("header");-%>
<div>
    <form action="/addUserDefinitions" method="POST">
        <div class="mb-3">
            <label class="form-label">Topic Name:</label>
            <input type="text" class="form-control" name="topicName" placeholder="Name of the topic" required>
        </div>

        <%if(isPresent === "false"){%>
            <h5 class="alert alert-danger">Please input a valid topic name.</h5>
        <%}%>
       
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Topic Def:</label>
          <div>
            <label for="defOn"><h5>Definition On:</h5></label>
            <input type="text" name="defOn" placeholder="Definition On" required>
            <textarea class="form-control" id="def" name="def" placeholder="Definition" required></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
     
      <% if(message === "success"){ %>
        <label for="message" class="alert alert-success">Successfully added...!</label>
     <% }else if(message === "topicNotPresent"){ %>
        <label for="message" class="alert alert-warning">Topic with the given name is not present in your account, try with another topic name or create a new topic.</label>
     <% }else if(message === "error"){ %>
        <label for="message" class="alert alert-danger">Failed to add due to error...!</label>
     <% }else if(message === ""){ %>
    
     <% } %> 
</div>
<%-include("footer")-%>