<%-include("header");-%>
<form action="/addUserTopic" method="POST">
    <div class="mb-3">
        <label class="form-label">Topic Name:</label>
        <input type="text" class="form-control" name="topicName" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Topic Desc:</label>
        <input type="text" class="form-control" name="topicDesc" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Topic Defs:</label>
      <div>
        <label for="defOn1"><h5>First Definition On:</h5></label>
        <input type="text" name="initialDefOn1" required>
        <textarea class="form-control" id="initialDef1" name="initialDef1" placeholder="Initial definition 1" required></textarea>
        <label for="defOn2"><h5>Second Definition On:</h5></label>
        <input type="text" name="initialDefOn2" required>
        <textarea class="form-control" id="initialDef2" name="initialDef2" placeholder="Initial definition 2" required></textarea>
        <h4>You can add more definitions to a particular topic in Add Definitions.</h4>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

 <% if(message === "success"){ %>
    <label for="message" class="alert alert-success">Successfully added...!</label>
 <% }else if(message === "exist"){ %>
    <label for="message" class="alert alert-warning">Topic with same name already there, try with another topic name.</label>
 <% }else if(message === "error"){ %>
    <label for="message" class="alert alert-danger">Failed to add due to error...!</label>
 <% }else if(message === ""){ %>

 <% } %>

  
<%-include("footer");-%>