<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Insta_Def</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><b>Insta_Def</b></p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/"><b></b>HOME</b></a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
          <%if(!isLogin){%>
            <li id="logIn"><a href="/login">LOG IN</a></li>
          <%}%>
          <%if(isLogin){%>
            <li id="logOut"><a href="/logout">LOG OUT</a></li>
          <%}%>
          <%if(!isLogin){%>
            <li id="signUp"><a href="/signup">SIGN UP</a></li>
          <%}%>
          <li id="adminLogin"><a href="/adminLogin">ADMIN</a></li>
          <li id="myDefs"><a href="/userProfile">MY_DEFS</a></li>
        </ul>
    </div>
  </nav>
</head>
  <body>
    <div class="container">
