<%-include("header")-%>
<h1>USER_PROFILE</h1>
<div>
    <h3>Name: <%=realName%></h3>
    <h3>Email: <%=email%></h3>
    <a href="/editUserProfile">Edit</a>
</div>
<div>
    <h2>My topics</h2>
    <h4>topics and their definitions link parts will be there.</h4>
</div>
<%-include("footer")-%>